In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train.csv')

In [3]:
len(data)
data['is_attributed'].value_counts()

0    184447044
1       456846
Name: is_attributed, dtype: int64

In [4]:
anomalies = data.loc[data['is_attributed'] != 0].copy()
normals = data.loc[~data.index.isin(anomalies.index)]

In [5]:
anomalies['is_attributed'].value_counts()

1    456846
Name: is_attributed, dtype: int64

In [10]:
normals['is_attributed'].value_counts()

0    184447044
Name: is_attributed, dtype: int64

In [37]:
len(normals)

184447044

In [38]:
sub_normals = normals[normals.groupby('ip').ip.transform(len)>10000]

In [39]:
sub_normals.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
11,105861,3,1,13,379,2017-11-06 14:38:51,NaN,0
22,125222,14,1,3,478,2017-11-06 14:44:51,NaN,0

In [40]:
print(len(sub_normals))
sub_normals['ip'].value_counts()

72811715

5348      1236394
5314      1169248
73516      769426
73487      762763
53454      498049
114276     427385
26995      401195
95766      378314
17149      310758
105475     301907
100275     276442
43793      261701
105560     259736
86767      257490
111025     247073
137052     217309
201182     212188
5178       211120
49602      199833
5147       197595
48282      188042
48212      185827
48240      182707
48170      180550
123994     176059
209663     173333
93587      171291
84896      170013
45745      168967
119369     159163
           ...
93953       10062
110354      10060
22529       10059
72614       10058
61584       10055
1003        10052
83699       10050
112243      10047
88124       10046
56063       10045
122711      10043
96275       10038
112217      10036
53664       10030
109800      10028
9602        10026
8660        10023
71710       10022
35180       10014
59868       10011
121979      10010
42651       10010
28089       10009
4831        10008
9136        10008
53557       10007
71071       10007
18864       10006
119758      10006
35096       10001
Name: ip, Length: 3224, dtype: int64

In [41]:
sub_normals = sub_normals[sub_normals.groupby('app').app.transform(len)>10000]
print(len(sub_normals))
sub_normals = sub_normals[sub_normals.groupby('device').device.transform(len)>10000]
print(len(sub_normals))
sub_normals = sub_normals[sub_normals.groupby('os').os.transform(len)>10000]
print(len(sub_normals))
sub_normals = sub_normals[sub_normals.groupby('channel').channel.transform(len)>10000]
print(len(sub_normals))

72525408
72459511
72331514
72259239

In [42]:
sub_normals.describe()

,ip,app,device,os,channel,is_attributed
count,7.225924e+07,7.225924e+07,7.225924e+07,7.225924e+07,7.225924e+07,72259239.0
mean,6.734109e+04,1.141332e+01,1.533564e+01,2.150276e+01,2.637570e+02,0.0
std,4.284476e+04,1.249575e+01,2.161778e+02,4.716144e+01,1.284196e+02,0.0
min,5.960000e+02,1.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.0
25%,3.493900e+04,3.000000e+00,1.000000e+00,1.300000e+01,1.400000e+02,0.0
50%,6.775100e+04,1.100000e+01,1.000000e+00,1.800000e+01,2.450000e+02,0.0
75%,1.000420e+05,1.500000e+01,1.000000e+00,1.900000e+01,3.790000e+02,0.0
max,3.633640e+05,1.830000e+02,3.866000e+03,8.660000e+02,4.970000e+02,0.0

In [47]:
sub_normals_1percent = sub_normals.sample(n=685269)

In [48]:
sub_normals_1percent.to_csv('sub_normals_1percent.csv', index=False)

In [19]:
sub_normals.to_csv('sub_normals.csv', index=False)
# anomalies.to_csv('anomalies.csv', index=False)